.error-message {
    color: red;
}
.top {
    height: 130px;
    width: 100%
}
.left {
    float: left;
    height: 100%
}
.right {
    float: right;
    top: -15px;
    width: 200px;
    position: relative;
}
    .right > div {
        position: absolute;
        top: 0px;
        right: 0px;
    }

#israel #message,
#israel #the-form,
#israel button[type='submit'],
#israel #div-more-funds
{
    display: none;
}

.nb {
  list-style-type: none;
}
